/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
* {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
a:hover {
  text-decoration: none;
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
a:focus, a:hover {
  color: inherit;
  text-decoration: none;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
textarea {
  resize: none;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
button {
  outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  color: #fff;
}
button:focus,
input:focus {
  outline: none;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
.ul {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
  transition: all .3s;
}
.link_check {
  position: relative;
}
.link_check:before {
  content: '+';
  text-align: center;
  line-height: 20px;
  display: inline-block;
  border: 1px solid #2b2b2b;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.link_check.active:before {
  content: '\2714';
}
.link_arr {
  position: relative;
}
.link_arr:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-left: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px;
}
a {
  color: inherit;
}
.img-center {
  position: relative;
}
.img-center img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin:auto;
}
.select {
  display: inline-block;
  position: relative;
}
.select:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-left: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
}
select {
  /*for WebKit*/
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
  border: 1px solid #2b2b2b;
  padding: 3px 20px 3px 5px;
}
.img {
  position: relative;
  display: inline-block;
}
.img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.h1 {
  font-size: 3rem;
}
.h2 {
  font-size: 1.7rem;
}
.h3 {
  font-size: 1.5rem;
}
.h4 {
  font-size: 1.3rem;
}
.h5 {
  font-size: 1.2rem;
}
.p {
  font-size: .875rem;
}
.btn {
  display: inline-block;
  border: none;
  border-radius: 40px;
  transition: all .3s;
  min-width: 160px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}
.header.active .btn_bordered, .header-active .btn_bordered  {
  color: #4a4a4a;
  border:none;
}
.header.active .menu__link, .header-active .menu__link {
  text-transform: uppercase;
}
.btn_bordered {
  color: #fff;
  border:1px solid #d6d6d6;
}
.menu__item:nth-child(1) .btn_bordered:hover {
  background: #4a90e2;
  color: #fff;
}
.menu__item:nth-child(2) .btn_bordered:hover {
  background: #82b050;
  color: #fff;
}
.menu__item:nth-child(3) .btn_bordered:hover {
  background: #8277ea;
  color: #fff;
}
.menu__item:nth-child(4) .btn_bordered:hover {
  background: #ff9591;
  color: #fff;
}
.menu__item:nth-child(5) .btn_bordered:hover {
  background: #7ad8bb;
  color: #fff;
}
.menu__item:nth-child(6) .btn_bordered:hover {
  background: #FFCC99;
  color: #fff;
}
.header.active .menu__item:nth-child(1) .btn_bordered:hover {
  background: inherit;
  color:#4a90e2;
  border:none;
}
.header.active .menu__item:nth-child(2) .btn_bordered:hover {
  background: inherit;
  color:#82b050;
  border:none;
}
.header.active .menu__item:nth-child(3) .btn_bordered:hover {
  background: inherit;
  color:#8277ea;
  border:none;
}
.header.active .menu__item:nth-child(4) .btn_bordered:hover {
  background: inherit;
  color:#ff9591;
  border:none;
}
.header.active .menu__item:nth-child(5) .btn_bordered:hover {
  background: inherit;
  color:#7ad8bb;
  border:none;
}
.header.active .menu__item:nth-child(6) .btn_bordered:hover {
  background: inherit;
  color:#FFCC99;
  border:none;
}
.header.active .menu__item {
  border:none;
}
.header.active .submenu__link:hover  {
  background: #fff !important;
}
.btn_blue {
  background: #00aeef;
  color: #fff;
  padding: 5px 0;
  text-transform: uppercase;
}
.btn_blue:hover {
  box-shadow: none;
  color: #fff;
}
.btn_green {
  background: #99c671;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
}
.btn_green:hover {
  box-shadow: none;
  background: #99c671;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
}
.next_curs_btn_step1 {
  margin-left: 10px;
}
.btn_fiolet {
  background: #8f8bef;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
}
.btn_fiolet:hover {
  box-shadow: none;
  color: #fff;
}
.btn_shadow {
  color: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border: 1px solid #eee;
}
.btn_shadow.active,
.btn_shadow:hover {
  background: transparent;
  box-shadow: none;
  border: 1px solid #eee;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
.pagination__numbers {
  margin: 0 10px;
}
.pagination__item {
  margin: 10px 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #2b2b2b;
  color: #d6d6d6;
  border-right: 1px solid #d6d6d6;
}
.pagination__item:hover,
.pagination__item.active {
  background: #00aeef;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 242px 10px 35px;
  color: #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  transition: all .6s;
}
.visible .header,
.header.active, .header-active {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
  z-index: 1000;
}

.visible .header .search-form,
.header.active .search-form {
  background: #fff;
}

.visible .header .header__menu,
.header.active .header__menu, .header-active .header__menu {
  display: block;
}
.header.active .menu, .header-active .menu {
  margin: 0;
  justify-content: space-around;
}
/*.header.active .header__logo {
  height: 40px;
}*/
.header.active .header__login, .header-active .header__login {
  top: 12px;
}
.header__logo {
  transition: all .3s;
  position: relative;
  display: inline-block;
  width: 120px;
  height: 65px;
}
.header__logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.header__menu {
  width: 75%;
  margin: auto;
  display: none;
}
.header__menu .submenu__link {
  background: #fff;
}
.header__menu .submenu__link:hover {
  background: #00aeef;
}
.header__login {
  padding: 18px 25px;
  border: 1px solid #d6d6d6;
  border-radius: 15px;
  position: absolute;
  right: 20px;
  top: 12px;
  transition: all .3s;
  text-align: right;
}
.header.active .header__login  {
  border-color:  #4a4a4a;
  color:  #4a4a4a;
}
.header__login .icon-user {
  margin-right: 10px;
}
.header__login:hover .room__inner {
  display: block;
}
.search {
  margin-right: 20px;
  text-align: right;
}
.search-form {
  display: none;
  position: absolute;
  background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 40px 20px 10px;
    /*margin-top: 10px;*/
}
.search-form__close {
  position: relative;
  top: -20px;
  right: -20px;
}
.search .link {
  display: inline-block;
  background-color: transparent;
  border: none;
  /*width: 5%;*/
  padding: 0;
  cursor: pointer;
  color: #d6d6d6;
}
.search .link:hover {
  text-decoration: none;
}
.header.active .search .link, .header-active .search .link {
  color: #4a4a4a;
}
.search__btn.active {
  opacity: 0;
  pointer-events: none;
}
.search__field {
  border: none;
  color: #000;
  border-bottom: 1px solid #d6d6d6;
  background-color: transparent;
  transition: all .3s;
  text-align: left;
  padding: 0 10px;
  width: 90%;
  width: 240px;
  height: 100%;
}
.search__field:focus {
  outline: none;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: all .3s;
}
.menu__item {
  position: relative;
  margin-right: 5px;
}
.menu__item:hover .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.submenu {
  position: absolute;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}
.submenu__item {
  padding-top: 5px;
}
.room {
  display: none;
}
.room__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 10px;
}
.header.active .room__items {
  border-color: #4a4a4a;
}
.header.active .header__login {
  background: #fff;
}
.room__inner {
  text-align: right;
  display: none;
}
.room__link {
  margin: 5px 0;
  transition: all .3s;
}
.room__link:hover {
  color: #ff7d78;
  text-decoration: none;
}
.room__icon {
  margin-right: 20px;
  position: relative;
}
.basket-count {
  position: absolute;
  right: -10px;
  bottom: -2px;
  font-size: 8px;
  background: #00aeef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.hamburger {
  display: none;
  width: 30px;
  height: 18px;
  margin: 0 0 0 10px;
  cursor: pointer;
  position: relative;
}
.hamburger__line {
  display: inline-block;
  height: 3px;
  width: 100%;
  background: #d6d6d6;
  position: absolute;
  top: 8px;
  left: 0;
}
.hamburger:after {
  content: '';
  display: inline-block;
  height: 3px;
  width: 100%;
  background: #d6d6d6;
  position: absolute;
  top: 1px;
  left: 0;
  transition: all .3s;
}
.hamburger:before {
  content: '';
  display: inline-block;
  height: 3px;
  width: 100%;
  background: #d6d6d6;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .3s;
}
.hamburger.active .hamburger__line {
  display: none;
}
.hamburger.active:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
  bottom: auto;
}
.hamburger.active:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  bottom: auto;
}
.footer {
  color: #d6d6d6;
  background: #2b2b2b;
  padding-top: 50px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__top > div {
  border-right: 1px solid #d6d6d6;
}
.footer__top > * {
  padding-left: 45px;
}
.footer__social {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-left: 0;
}
.footer__social-inner {
  display: inline-block;
  text-align: center;
}
.footer .social__list {
  margin-top: 30px;
}
.footer .social__list a {
  margin: 0 5px;
  transition: all .3s;
}
.footer .social__list a:hover {
  color: #fff;
  text-decoration: none;
}
.footer__links {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5em;
}
.footer__links .link {
  margin-bottom: 10px;
}
.footer__links a:hover, .footer__links .link:focus{
   color: #ff7d78;
  text-decoration: none;
}
.footer__bottom a:hover {
   color: #ff7d78;
  text-decoration: none;
}
.footer__contacts {
  font-style: normal;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2em;
}
.footer__contacts .fn {
  overflow: hidden;
  height: 0;
}
.footer__contacts a {
  position: relative;
  padding-left: 20px;
}
.footer__contacts a:hover {
  color: #ff7d78;
  text-decoration: none;
}
.footer__contacts a:hover:before {
  text-decoration: none;
}
.footer__contacts a:before {
  top: 0;
  left: -10px;
  position: absolute;
  line-height: 2em;
}
.footer__bottom {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #444;
  font-family: 'Roboto', sans-serif;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*====access====*/
.access-window {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: all .5s;
  position: fixed;
  top: 0;
  min-height: 100vh;
  left: 0;
  right: 0;
  background: linear-gradient(117deg, #07a5e8, #07324a);
  z-index: 100;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.access-window.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.access-window .header__logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.access-window .icon-right {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
}
.access__form {
  display: inline-block;
  max-width: 400px;
  width: 100%;
}
.access p {
  text-transform: uppercase;
  font-size: 18px;
}
.access .h2 {
  margin-bottom: 70px;
  font-size: 35px;
}
.access label {
  cursor: pointer;
}
.access input[type="radio"] {
  visibility: hidden;
  position: relative;
}
.access input[type="radio"]:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border: 1px solid #fff;
  border-radius: 50%;
  visibility: visible;
}
.access input[type="radio"]:before {
  visibility: visible;
  content: '';
  display: inline-block;
  display: none;
  position: absolute;
  top: 15%;
  bottom: 15%;
  right: 15%;
  left: 15%;
  background: #fff;
  border-radius: 50%;
}
.access input[type="radio"]:checked:before {
  display: block;
}
.access__links {
  margin-top: 70px;
}
.access__links a {
  color: #00aeef;
}
.access input[type="checkbox"] {
  position: relative;
  visibility: hidden;
}
.access input[type="checkbox"]:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border: 1px solid #fff;
  visibility: visible;
}
.access input[type="checkbox"]:before {
  visibility: visible;
  content: '';
  display: inline-block;
  display: none;
  position: absolute;
  top: 15%;
  bottom: 15%;
  right: 15%;
  left: 15%;
  background: #fff;
}
.access input[type="checkbox"]:checked:before {
  display: block;
}
.about-company {
  width: 60%;
  display: inline-block;
}
.checkboxes {
  width: 100%;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.access__login {
  width: 70%;
  margin: 0 auto 20px ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.row-condition {
  justify-content: center;
  align-items: center;
}
.row-condition a {
  margin-left: 5px;
}
.access__login input {
  width: 100%;
  color: #d6d6d6;
  border: 1px solid #d6d6d6;
  border-radius: 15px;
  line-height: 2em;
  text-align: center;
  background-color: transparent;
}
.access__login input:focus {
  outline: none;
}
.access__login input[type="submit"] {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
  transition: all .3s;
  color: #fff;
}
.access__login input[type="submit"]:hover {
  background: #fff;
  color: #00aeef;
}
.access__login ::-webkit-input-placeholder {
  color: #fff;
}
.access__login ::-moz-placeholder {
  color: #fff;
}
.access__login :-moz-placeholder {
  color: #fff;
}
.access__login :-ms-input-placeholder {
  color: #fff;
}
/*====first====*/
.first {
  min-height: 100vh;
  background-size: cover;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.first__txt {
  width: 70%;
  margin: 0 auto 80px;
}
.first__content {
  width: 1000px;
}
.first__content h1 {
  /*font-size: 50px;*/
}
.line {
  position: relative;
}
.line:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -40px;
  content: '';
  display: inline-block;
  height: 2px;
  width: 100px;
  background: #00aeef;
}
/*====plus====*/
.plus {
  background: #fff;
  padding: 45px 0;
}
.plus__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  text-align: center;
  padding: 0 1.5%;
  border-right: 1px solid #d6d6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
  align-content: flex-start;
}
.plus__item p {
  width: 100%;
}
.plus__item:last-of-type {
  border-right: none;
}
.plus__item .h5 {
  text-transform: uppercase;
}
.plus .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*====services====*/
.services {
  background: #f6f8f9;
  padding: 20px 0;
}
.title-line {
  position: relative;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.title-line:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -40px;
  content: '';
  display: inline-block;
  height: 2px;
  width: 100px;
  background: #00aeef;
}
.title-line:after {
  bottom: -20px;
}
.subtitle {
  text-align: center;
}
.curses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.curs {
  width: 24%;
  margin: .5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #fff;
  border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 5px 15px -2px rgba(0,0,0,0.23);
    transition: all .3s;
}
.curs:hover {
  box-shadow:none;
}
.slick-initialized .slick-slide {
  outline: none;
}
.youtube-video-div{
  /*margin-top: -65px;*/
}
.curs__label {
  color: #fff;
  padding: 5px 10px 5px 20px;
  display: inline-block;
  text-transform: uppercase;
  min-width: 100px;
  position:relative;
  /*//margin-top: 25px;*/
}
.curs__label_new {
  background: #99c671;
}
.curs__label_sale {
  background: #00aeef;
}
.curs__label_popular {
  background: #009688;
}
.curs_lg {
  width: 30%;
  margin: 1%;
  min-width: 270px;
}
.curs__descr {
  margin: 0;
}
.curs__inner {
  padding: 10px;
  height: 175px;
}
.curs__inner a {
  font-weight: bold;
  color: #0f3a4a;
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  outline: none;
}
.curs__inner a:hover {
  text-decoration: underline;
  color: #ff7d78;
  transition: all .3s;
}
.curs__stat {
  padding: 0 10px 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #2b2b2b;
  width: 100%;
}
.curs__stat p {
  margin-top: 0;
  margin-bottom: 5px;
}
.curs__stage {
  text-transform: uppercase;
  text-align: right;
  padding: 15px;
}
.curs__stage i {
  margin-right: 10px;
  vertical-align: middle;
}
.curs__img {
  height: 170px;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  position: relative;
}
.curs__img .icon-bookmark {
  position: absolute;
  top: -7px;
  left: 5px;
  color: #ffde00;
  font-size: 36px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.curs__level {
  margin-top: 0;
}
.curs__level i {
  color: #0f3a4a;
}
.curs__name {
  font-weight: bold;
  color: #0f3a4a;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}
.curs__name:hover a {
  text-decoration: underline;
  color: #ff7d78;
  transition: all .3s;
}
.curs__prices {
  text-transform: uppercase;
  padding: 10px 0;
  position: relative;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.curs__buy {
  position: relative;
}
.curs__price {
  padding: 10px 20px;
  color: #fff;
  background: #00aeef;
}
.curs__old-price {
  color: #00aeef;
  text-decoration: line-through;
}
.curs__add {
  position: absolute;
  left: calc(50% - 60px);
  top: 20%;
  opacity: 0;
  pointer-events: none;
}
.popular {
  background: #faf5ec;
  padding: 40px 0;
}
.popular .title-line {
  margin-top: 0;
}
.popular__list .curs {
  width: 290px;
  margin: auto;
}
.popular__item {
  padding: 20px 0;
}
.popular__slider {
  position: relative;
}
.popular__prev {
  width: 65px;
  height: 65px;
  border: 1px solid #2b2b2b;
  position: absolute;
  top: calc(50% - 37px);
  left: -67px;
  cursor: pointer;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all .3s;
}
.popular__prev:hover {
  background: #2b2b2b;
  color: #faf5ec;
}
.popular__next {
  width: 65px;
  height: 65px;
  border: 1px solid #2b2b2b;
  position: absolute;
  top: calc(50% - 37px);
  right: -67px;
  cursor: pointer;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all .3s;
}
.popular__next:hover {
  background: #2b2b2b;
  color: #faf5ec;
}
/*====reviews====*/
.reviews-wrapp {
  padding: 50px 0 ;
  background: url('/img/rev-bg.jpg') 50%;
}
.reviews__slider {
  position: relative;
}
.reviews__next {
  position: absolute;
  font-size: 2rem;
  right: 0;
  z-index: 2;
  top: 50%;
  cursor: pointer;
  color: #fff;
}
.reviews__prev {
  position: absolute;
  font-size: 2rem;
  left: 0;
  z-index: 2;
  top: 50%;
  cursor: pointer;
  color: #fff;
}
.review__txt {
  font-size: 16px;
}
.reviews .slick-dots {
  bottom: -50px;
}
.reviews .slick-dots li {
  background: #fff;
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
}
.reviews .slick-dots li button:before {
  display: none;
}
.reviews .slick-dots li.slick-active {
  background: #00aeef;
}
.review {
  max-width: 975px;
  min-height: 410px;
  background: #fff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.review__img {
  width: 40%;
}
.review__img:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  top: 15px;
  border: 3px solid #fff;
}
.review__inner {
  width: 60%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.review__author {
  font-size: 16px;
}
.review__author-name {
  margin-bottom: 0;
}
.review__author-status {
  color: #ccc;
}
.banner {
  min-height: 430px;
  background-size: cover;
  background-position: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}
.banner_br {
  margin-bottom: 20px;
}
.banner .h1 {
  text-transform: uppercase;
}
.banner .title_iconed {
  text-transform: none;
}
.banner .title_iconed i {
  font-size: .5em;
  margin-left: 20px;
  color: #99c671;
}
/*====tabs====*/
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tabs_horizontal {
  padding: 15px 0;
}
.tabs_horizontal .tabs__control {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tabs_horizontal .tabs__control a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
          margin-right: 5px;
}
.tabs_horizontal .tabs__control a:after {
  display: none;
}
.tabs_horizontal .tabs__container {
  width: 100%;
  box-shadow: none;
  padding: 0;
}
.tabs__control {
  width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tabs__control a {
  color: #0f3a4a;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
         align-items: center;
  padding: 20px 10px;
  position: relative;
  transition: all .3s;
}
.tabs__control a i {
  font-size: 2.5rem;
}
.tabs__control a:after {
  content: '';
  display: inline-block;
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  position: absolute;
  right: 0;
  top: calc(50% - 10px);
  opacity: 0;
  transition: all .3s;
  z-index: 2;
}
.tabs__control a.active,
.tabs__control a:hover {
  background: #00aeef;
  color: #fff;
  text-decoration: none;
}
.tabs__control a.active:after {
  opacity: 1;
}
.tabs__container {
  width: 83%;
  background: #fff;
  padding: 10px 0 30px 25px;
  position: relative;
}
.tabs-wrapp {
  background: #f6f8f9;
  padding: 20px 0 60px ;
}
.tab {
  display: none;
  padding: 15px 0;
}
.tab.active {
  display: block;
}
.tab__title {
  text-transform: uppercase;
  margin-bottom: 0;
}
.tab__subtitle {
  margin-bottom: 40px;
  margin-top: 10px;
}
/*====anonce====*/
.anonce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.anonce__img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 28%;
  background-position: 50%;
  background-size: cover;
}
.anonce__body {
  width: 72%;
  padding: 20px 25px;
}
.anonce__body .btn {
  border-radius: 15px;
  height: 45px;
}
.anonce__body h3 {
  margin: 0;
  text-transform: uppercase;
}
.anonce__body h3 i {
  vertical-align: middle;
  margin-right: 10px;
}
.anonce__watch {
  color: rgba(0, 0, 0, 0.2);
}
.anonce__txt {
  margin-bottom: 60px;
}
.anonce__label {
  position: absolute;
  color: #00aeef;
  background: #fff;
  padding: 7px 15px;
  text-transform: uppercase;
  width: 180px;
  left: -10px;
  top: 40px;
  font-weight: bold;
  font-size: .9rem;
}
.anonce__label:after {
  content: '';
  display: inline-block;
  border: 5px solid transparent;
  border-right: 5px solid #196a15;
  border-top: 5px solid #196a15;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all .3s;
}
.about-curs {
  background: #f6f8f9;
  padding: 20px 0 60px;
}
.about-curs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about-card {
  width: 66%;
  padding: 30px 60px;
  position: relative;
  background: url('/img/ring-bg.png') 50%, #fff;
  background-size: 120%;
}
.about-card .anonce__label {
  position: relative;
  top: 0;
  left: -70px;
  min-width: 250px;
  color: #fff;
  background: #00aeef;
  line-height: 2em;
  margin: 40px 0;
}
.about-card .h2 {
  margin-top: 0;
}
.about-card p {
  font-size: 16px;
}
.about-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-card__footer .curs__level {
  margin-bottom: 0;
}
.about-card__footer .curs__mentor {
  margin: 0;
}
.about-card__footer .btn_bordered {
  color: #444;
  line-height: 1em;
  padding: 5px 20px;
}
.about-card__footer .btn_bordered:hover {
  background: transparent;
  box-shadow: none;
  border: 1px solid #eee;
}
.about-media {
  width: 34%;
  background: #fff;
  padding-bottom: 20px;
}
.about-media__video {
  height: 200px;
  background: url('/img/web-bg.jpg') 50%;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  transition: all .3s;
}
.about-media__video i {
  transition: all .3s;
  font-size: 3rem;
  color: #00aeef;
}
.about-media__video:hover {
  background-size: 110%;
}
.about-media__video:hover i {
  color: #fff;
}
.about-media__price {
  text-align: center;
  padding: 15px 0;
}
.about-media__price span {
  font-size: 2rem;
  font-weight: bold;
}
.about-media__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}
.about-media__info {
  width: 50%;
}
.about-media__buttons {
  width: 50%;
  text-align: center;
}
.about-media__buttons .btn {
  margin-bottom: 15px;
}
.about-media__item {
  margin: 5px 0;
}
.pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}
.pop-up video {
  max-width: 90%;
  max-height: 90%;
}
.pop-up.active {
  pointer-events: auto;
  opacity: 1;
}
/*====faq====*/
.faq {
  background: #fff;
  padding: 20px 0 50px;
}
.accordion {
  padding: 30px 120px 60px;
}
.plan .accordion {
  padding: 0;
}
.accordion__title {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accordion__title i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1rem;
  transition: all  .3s;
}
.accordion__title.active i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.steps {
  display: none;
}
.step {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
}
.step p {
  margin-bottom: 0;
}
.step__status {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.step__status.accordion-active {
  background: #00aeef;
  border: 1px solid #00aeef;
  color: #fff;
}
.step:hover .step__sticky {
  opacity: 1;
}
.step__sticky {
  transition: all .3s;
  position: absolute;
  top: 101%;
  right: 50px;
  padding: 10px;
  background: #8f8bef;
  color: #d6d6d6;
  opacity: 0;
  z-index: 5;
}
.step__number {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #8f8bef;
}
.step__title {
  font-weight: bold;
  margin: 0;
}
.step__body {
  width: 100%;
}
/*====curs-description====*/
.curs-description {
  background: #f6f8f9;
  padding: 20px 0 40px;
}
.curs-description_no-bg {
  background: none;
}
.curs-description__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.curs-description__media {
  width: 40%;
  height: 600px;
}
.curs-description__info {
  width: 60%;
  background: #fff;
  padding: 0 100px 50px;
  min-height: 600px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}
.curs-description__info_no-shadow {
  box-shadow: none;
  padding: 0 20px;
  min-height: auto;
}
.curs-description__info_no-shadow:after {
  display: none !important;
}
.curs-description__info:after {
  position: absolute;
  bottom: 70px;
  right: -100px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: '';
  display: inline-block;
  height: 40px;
  width: 400px;
  background: #8f8bef;
}
.curs-description__info .btn {
  padding: 10px 55px;
  text-transform: uppercase;
  margin-top: auto;
}
.curs-description__info .h2 {
  position: relative;
  margin-bottom: 60px;
}
.curs-description__info .h2:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 60%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.curs-description__list {
  line-height: 1.8em;
  color: #8f8bef;
}
.curs-description__list span {
  color: #000;
}
/*====plan====*/
.plan {
  background: #fff;
  padding: 40px 0;
}
.plan-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.weeks {
  width: 22%;
}
.lections {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.lections-button {
  margin: 10px 0;
  padding-left: 30px;
  display: none;
}
.lections-button .btn {
  margin: 10px 0;
}
.lections-button .btn.active {
  position: relative;
}
.lections-button .btn.active:before {
  position: absolute;
  left: -20px;
  top: calc(50%-5px);
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #8f8bef;
}
.lection {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px 30px;
  display: none;
}
.lection.active {
  display: block;
}
.lection__down {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.week {
  margin-bottom: 20px;
}
.week.active .lections-button {
  display: block;
}
/*====mentor====*/
.mentor {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mentor-wrap {
  background: #f6f8f9;
  padding: 20px 0 100px;
}
.mentor-wrap_no-bg {
  background: none;
}
.mentor__img {
  width: 180px;
  height: 180px;
  margin-right: 100px;
}
@media (max-width: 576px) {
  .mentor__img {
    margin-right: 0;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .mentor__img {
    width: 130px;
    height: 130px;
    margin-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .mentor__img {
    margin-right: 35px;
  }
}
.mentor__img img {
  border: 10px solid #fff;
  border-radius: 50%;
  width: 180px;
  height: 180px;
}
.mentor__info {
  width: 70%;
  font-size: 16px;
}
.step__info {
  font-size: 16px;
}
.mentor__about {
  padding-bottom: 50px;
  position: relative;
}
.mentor__about:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 25px;
  width: 150px;
  border-bottom: 1px solid #2b2b2b;
}
.mentor__name {
  margin-bottom: 30px;
}
.mentor__name p {
  margin: 0;
  font-weight: bold;
}
.mentor__statist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mentor__statist p {
  margin: 0;
  margin-right: 15px;
}
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.profile__img {
  min-width: 240px;
  min-height: 220px;
}
.profile__date {
  text-align: left;
}
.profile__date h1 {
  position: relative;
}
.profile__date h1:after {
  position: absolute;
  content: '';
  display: inline-block;
  border-bottom: 1px solid #fff;
  width: 100px;
  left: 0;
  bottom: -20px;
}
.profile__date h1 span {
  text-transform: none;
  display: block;
  margin-top: 20px;
}
@media (max-width: 990px) {
  .profile__date {
    text-align: center;
    width: 100%;
  }
}
.breadcrumb {
  width: 100%;
}
.profile__name {
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
}
.redactor {
  background: #fff;
  padding: 40px;
  margin-top: 40px;
}
.redactor .control-label {
  font-size: 18px;
}
.redactor-wrapp {
  text-align: center;
  background: #f6f8f9;
  padding: 40px 0 60px;
}
.redactor__form {
  width: 100%;
  margin: auto;
}
.redactor__form a {
  margin-bottom: 15px;
}
.redactor__form a:nth-child(2n+2) {
  margin-left: 15px;
}
.course_add_box .redactor__form {
  width: 100%;
  margin: auto;
}
.redactor__form .p {
  font-weight: bold;
}
.redactor__form-submit {
  margin-top: 20px;
}
.redactor__field {
  line-height: 2em;
  padding: 0 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
}
.redactor__field:focus {
  outline: none;
}
.fild-file {
  position: relative;
}
.fild-file span {
  color: #a4a6a7;
  font-size: 18px;
}
.fild-file input,
.fild-file .btn {
  position: absolute;
  right: -180px;
  top: -5px;
}
.fild-file .btn {
  cursor: pointer;
}
.fild-file input {
  width: 0;
  visibility: hidden;
}
.profile {
  padding: 20px 0 10px;
}
.profile__header {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .profile__header {
    flex-wrap: wrap;
  }
}
.profile .tab__title {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 22px;
}
.profile-info {
  margin: 20px;
}
.social__list .link {
  font-size: 24px;
}
.gallery-item img {
  display: block;
  width:100%;
}
.profile-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.profile-info__title {
  width: 20%;
}
.profile-info__descr {
  width: 80%;
}
.field_bordered {
  border: 1px solid #d6d6d6;
  border-radius: 7px;
  padding: 10px;
}
.field_tcentr {
  text-align: center;
  width: 30%;
}
.curs-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
}
.curs-admin__aside {
  width: 17%;
}
.curs-admin__page {
  width: 83%;
}
.curs-content {
  margin-top: 20px;
  padding: 10px 0 30px;
  border-radius: 10px;
}
.curs-content .curs-description__media {
  height: 300px;
}
.curs-content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.curs-content__link {
  padding: 30px 0;
  border-bottom: 3px solid transparent;
  transition: all .3s;
}
.curs-content__link:hover {
  border-bottom: 3px solid #00aeef;
}
.curs-content__link.active {
  border-bottom: 3px solid #00aeef;
  font-weight: bold;
}
.curs-content__link span {
  color: #00aeef;
  font-weight: bold;
  margin-left: 5px;
}
.curs-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #2b2b2b;
}
.curs-content__tab {
  display: none;
}
.curs-content__tab.active {
  display: block;
}
.curs-content__tab .accordion {
  box-shadow: none;
  padding: 0;
}
.curs-content__tab .curs_lg {
  margin: 1.5%;
}
.curs-review__video {
  width: 50%;
  margin: 40px auto;
  overflow: hidden;
}
.curs-review__video video {
  width: 100%;
}
.progress-block {
  padding: 30px;
  border-radius: 10px;
}
.progress__block {
  padding: 20px 15px;
  background: #588ba5;
  color: #fff;
}
.progress .h2 {
  margin-top: 0;
}
.progress__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.progress__info {
  margin: 0;
  width: 83%;
}
.progress__info span {
  font-weight: bold;
}
.progress__icon {
  margin: 0;
  width: 13%;
  text-align: center;
  font-size: 40px;
  color: #71777b;
}
.progress_bar {
  height: 20px;
  background: #71777b;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.progress-bar__process {
  height: 100%;
  border-right: 3px solid #373d40;
  width: 87%;
  position: relative;
  overflow: hidden;
}
.progress-bar__process .progress-bar__level {
  /*width: 30%;*/
}
.progress-bar__finish {
  overflow: hidden;
  position: relative;
  width: 13%;
}
.progress-bar__finish .progress-bar__level {
  width: 0;
  background: #ffeb3b;
}
.progress-bar__level {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00aeef;
}
.questions-count {
  color: #00aeef;
  font-weight: bold;
}
.questions-count__number {
  margin-right: 10px;
}
.questions__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.questions__header .btn {
  margin-right: 20px;
}
.questions__pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  background: rgba(0, 174, 239, 0.5);
}
.questions__pop-up.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.questions__pop-up .h4 {
  text-align: left;
  margin-top: 0;
}
.questions__pop-up form {
  background: #fff;
  width: 50%;
  padding: 15px 30px;
}
.question {
  margin-bottom: 20px;
}
.question__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question__inner {
  font-style: italic;
  padding-left: 65px;
}
.question__form {
  text-align: right;
  width: 80%;
}
.question__form textarea {
  display: block;
  padding: 15px;
  width: 100%;
  height: 160px;
  margin-bottom: 20px;
}
.question__form .select {
  margin-bottom: 20px;
  margin-right: 100%;
}
.question__form p {
  text-align: left;
}
.question:after {
  content: '';
  display: inline-block;
  width: 245px;
  border-bottom: 1px solid #2b2b2b;
}
.question__author {
  margin: 5px 0;
  display: inline-block;
}
.question__date {
  margin-right: 20px;
}
.question__status {
  margin-left: 10px;
}
.question__status_success {
  color: #00aeef;
  font-weight: bold;
}
.question__status_err {
  color: red;
  font-weight: bold;
}
.question .mentor__img {
  margin-right: 20px;
  width: 65px;
  height: 65px;
}
.question .mentor__img img {
  border: 5px solid #fff;
}
.discuss {
  margin-bottom: 60px;
  border: 1px solid #2b2b2b;
  border-radius: 15px;
  padding: 10px 15px;
}
.discuss__body {
  display: none;
}
.discuss__footer {
  padding: 10px 0;
}
.discuss__footer .hide {
  display: none;
}
.discuss__footer.active .hide {
  display: inline-block;
}
.discuss__footer.active .show {
  display: none;
}
.discuss__footer.active .btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.discuss__footer .btn {
  margin-right: 10px;
  background-color: transparent;
  box-shadow: none;
  width: 40px;
  height: 40px;
  border: 1px solid #2b2b2b;
  color: #2b2b2b;
  font-size: 14px;
  border-radius: 50%;
  min-width: auto;
}
.discuss__footer .btn:active,
.discuss__footer .btn:focus {
  outline: none;
}
.discuss__footer .btn:hover {
  background: #00aeef;
  border: 1px solid transparent;
  color: #fff;
}
.filter {
  margin: 30px 0;
}
.filter label {
  margin-right: 40px;
}
.ad__inner {
  height: 70px;
  overflow: hidden;
  transition: all .5s;
}
.ad__inner.active {
  height: auto;
}
.extra {
  position: relative;
  width: 220px;
  text-align: center;
  background: #fff;
  padding: 10px;
}
.extra.active .extra__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.extra__menu {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
}
.extra__menu a {
  padding: 10px 5px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.extra__menu a:hover {
  border: 1px solid #00aeef;
}
.order {
  padding: 0px 0 40px;
}
.order__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid #d6d6d6;
}
.order__item .btn {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
}
.order__name {
  width: 50%;
}
.order__price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.margin__in__basket {
  margin: 15px 0;
}
.order__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #2b2b2b;
  padding: 10px;
  color: #fff;
}
.order__footer {
  margin-top: 40px;
  text-align: right;
}
.order__footer span {
  font-weight: bold;
}
.order__send {
  padding: 0 10px;
}
@media all and (max-width: 1600px) {
  .header__menu {
    width: auto;
  }
}
@media all and (max-width: 1400px) {
  .reviews__next {
    right: -30px;
  }
  .reviews__prev {
    left: -30px;
  }
  .popular__slider {
    width: 90%;
    margin: auto;
  }
  .first .menu__link {
    min-width: 160px;
  }
  .menu__link {
    font-size: 14px;
    min-width: 120px;
  }
}
@media all and (max-width: 1200px) {
  .header__menu {
    opacity: 0;
    pointer-events: none;
    display: none;
    position: fixed;
    top: 0;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: -moz-flex !important;
    display: -ms-flex !important;
    display: -o-flex !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    background: linear-gradient(117deg, #07a5e8, #07324a);
    transition: all .5s;
  }
  .header__menu.fade {
    opacity: 1;
    pointer-events: auto;
  }
  .header__menu .submenu {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu .menu__item {
    margin: 10px 0;
  }
  .header__menu .menu__link {
    min-width: 160px;
  }
  .hamburger {
    display: block;
  }
  .search {
    margin-left: auto;
    margin-right: 40px;
  }
  .first .menu {
    display: none;
  }
}
@media all and (max-width: 1300px) {
  .curs {
    width: 29%;
    margin: 2%;
  }
  .redactor__form {
    width: 45%;
  }
  .curs-admin__page,
  .curs-admin__aside {
    width: 100%;
  }
}
@media all and (max-width: 992px) {
  .curs {
    width: 46%;
  }
  .review {
    min-height: auto;
  }
  .review__img:after {
    display: none;
  }
  .plus__item {
    border: none;
  }
  .popular__next {
    width: 55px;
    right: -55px;
  }
  .popular__prev {
    width: 55px;
    left: -55px;
  }
  .about-card {
    width: 100%;
    padding: 30px 20px;
  }
  .about-card .anonce__label {
    left: -30px;
  }
  .about-media {
    margin: 20px auto;
    width: 80%;
  }
  .accordion {
    padding: 30px 20px;
  }
  .curs-description__info {
    padding: 0 20px 50px;
    min-height: 500px;
  }
  .mentor__info {
    padding: 15px;
     width: 65%;
  }
  .weeks {
    width: 100%;
  }
  .lections {
    width: 100%;
  }
  .fild-file {
    margin-bottom: 90px;
  }
  .fild-file input,
  .fild-file .btn {
    top: auto;
    bottom: -70px;
    left: calc(50% - 75px);
    right: auto;
  }
  .curs-content__header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .curs-content__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .curs-content__link {
    padding: 10px 0;
  }
  .curs-review__video {
    width: 100%;
  }
  .curs-description__info_no-shadow {
    min-height: auto;
    padding: 0;
  }
  .mentor-wrap_no-bg {
    padding: 0 0 100px;
  }
  .lections-button .btn {
    margin-left: 30px;
  }
  .profile__img {
    margin: 90px auto 0;
  }
}
@media all and (max-width: 768px) {
  .curs {
    width: 70%;
    margin: 10px auto;
    max-width: 330px;
  }
  .curs__stat {
    width: 100%;
  }
  .curses {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .review {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .review__inner {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .review__img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    height: 150px;
    margin-top: 20px;
  }
  .review__img img {
    border-radius: 50%;
  }
  .popular__next,
  .popular__prev,
  .reviews__next,
  .reviews__prev {
    display: none !important;
  }
  .footer__top > div {
    border: none;
  }
  .footer__social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    text-align: center;
    border: none;
  }
  .footer__links {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    border: none;
  }
  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px 0;
  }
  .header {
    padding: 0px 200px 10px 15px;
  }
  .header.active {
    padding: 10px 125px 10px 15px;
  }
  .header__logo {
    width: 70px;
  }
  .header__login {
    padding: 0;
    border: none;
    top: 25px;
  }
  .access .h2 {
    margin-bottom: 20px;
  }
  .access__login input {
    width: 100%;
    margin-bottom: 15px;
  }
  .tabs__control {
    width: 100%;
  }
  .tabs__container {
    width: 100%;
    padding: 10px 0 25px;
  }
  .anonce__img {
    width: 100%;
    height: 250px;
  }
  .anonce__body {
    width: 100%;
  }
  .curs-description__media {
    width: 100%;
  }
  .curs-description__info {
    width: 100%;
  }
  .h1 {
    font-size: 2.2rem;
  }
  .redactor__form {
    width: 65%;
  }
  .question__form {
    width: 100%;
  }
  .question__info {
    width: calc(100% - 90px);
  }
  .question__status {
    margin: 0;
    display: block;
  }
  .profile-info {
    margin: 20px 0;
  }
  .profile-info__descr {
    width: 100%;
  }
  .profile-info__title {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 576px) {
  .mentor__img {
    width: 100%;
    height: 200px;
  }
  .mentor__info {
    width: 100%;
  }
  .curs-description__info:after {
    bottom: -25px;
  }
  .curs-description__media {
    height: 300px;
  }
  .curs-content {
    padding: 0;
  }
  .progress {
    padding: 15px 0;
  }
  .step__number {
    width: 100%;
  }
  .h2 {
    font-size: 1.5rem;
  }
  .accordion {
    padding: 10px;
  }
  .accordion__title {
    padding: 5px;
    font-size: 1.2rem;
  }
  .access-window {
    bottom: 0;
    padding:150px 10px 10px;
    overflow: auto;
  }
  .first__txt {
    width: 90%;
  }
  .curs,
  .popular__slider {
    width: 100%;
  }
  .h1 {
    font-size: 2.2rem;
  }
  .footer__links {
    padding: 0;
  }
  .footer__contacts {
    padding: 0;
    text-align: center;
  }
  .footer__bottom {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__login {
    display: none;
  }
  .header__login.active {
    display: block;
    right: 60px;
  }
  .header {
    padding: 0px 15px 10px 15px;
  }
  .header.active {
    padding: 0 15px 0 15px;
  }
  .search-form {
    width: 100%;
  }
  .search-form__close {
    top: -20px;
    right: -30px;
  }
  .anonce__body {
    padding: 20px 10px;
  }
  .about-media {
    width: 100%;
  }
  .about-media__info {
    width: 100%;
  }
  .about-media__buttons {
    margin: auto;
  }
  .header__menu .menu {
    padding-top: 100px;
  }
  .redactor {
    padding: 15px;
  }
  .redactor__form {
    width: 100%;
  }
  .profile__date h1 {
    text-align: center;
  }
  .profile__date h1 .p {
    display: none;
  }
  .filter label {
    display: block;
    margin: 15px 0;
  }
  .banner {
    min-height: 200px;
  }
}
@media all and (max-width: 420px) {
  .checkboxes {
    width: 100%;
    margin-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .checkboxes .checkbox {
    margin: 0 5px;
  }
  .access__login {
    width: 100%;
  }
  .extra {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: auto;
    text-align: right;
  }
  .progress__icon {
    font-size: 25px;
  }
  .accordion__title {
    font-size: .99em;
  }
  .discuss {
    padding: 10px;
  }
  .question__status {
    font-size: 13px;
  }
  .question__inner {
    padding: 0;
  }
}
.form-group{
  margin-bottom: 0;
}
.course_add_box .form-group{
  margin-bottom: 0;
  width: 50%;
  display: inline-block;
}
.course_form_name {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.edit-profile:hover{
  color:#ffffff;
}
#signupform-profile label{
  float: left;
}

.access__login .form-group {
  width: 100%;
  cursor: pointer;
  transition: all .3s;
  color: #fff;
}
.access__login .btn-register{
  width: 100%;
  color: #00aeef;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid #d6d6d6;
  border-radius: 15px;
  line-height: 2em;
  text-align: center;
  background-color: #fff;
}
.access__login .btn-register:hover{
  -webkit-box-shadow: 0px 4px 8px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 4px 8px 5px rgba(0,0,0,0.25);
  box-shadow: 0px 4px 8px 5px rgba(0,0,0,0.25);
  color:#00aeef;
  transition-delay: all .26s easy-in-out;
}
.access input[type="checkbox"] {
  width: auto;
}
.access__agree {
  min-height: 75px;
  position: relative;
}
.access__agree .help-block {
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
.curs{
  position: relative;
}
.favorite{
  position: absolute;
  z-index: 10;
  right: 10px;
  top:5px;
  font-size: 22px;
  color:red;
}
.fav-no-active {
  display: none;
}
.fav-active {
  display: block;
}
/*.add-to-favorite i{
  color:red;
}
.del-from-favorite i{
  color:green;
}*/
.favorite .icon-star{
  color:red;
}
.bookmark-active{
  display: block;
}
.bookmark-no-active{
  display: none;
}
.curs_no-active{
  display: none;
}
.curs_active{
  display: block;
}
.curs_step_ok{
    color:#99c671;
}
.curs_step_current{
    color:black;
    cursor: pointer;
}
.curs_step_noactive{
    color:gray;
    cursor: pointer;
}
.lection-no-display{
  display: none;
}

/*SLIDER video*/
.slider-video {
  margin-top: 60px;
}
.slick-prev, .slick-next {
  background: lightgray;
}
.slick-prev:hover, .slick-next:hover {
  background: red;
}

.comment-author-avatar img {
  width: 52px;
}

.course-rating i, .user-rating i{
  color: lightgray;
  font-size: 24px;
}
.course-rating:hover, .user-rating:hover {
  cursor: pointer;
}
/*rating*/
.no-active {
  display: none;
}
.notification {
  display: none;
  position: fixed;
  right: 0;
  top:150px;
  background: #00aeef;
  color: #ffffff;
  padding: 20px;
}

.teacher-info-box {
  display: flex;
  align-items: center;
  margin-top: 35px;
}
.curs_step2 button, .curs_step3 button {
  margin: 0 10px;
}
.field-signupform-username {
  display: none;
}
.gallery-item {
  display: block;
  width: 30%;
  float: left;
}
@media (max-width: 567px) {
  .gallery-item {
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px){
  .gallery-item {
    width: 50%;
  }
}
 @media (min-width: 577px) and (max-width: 768px) {
    .header__login {
      min-width: 100px;
      right: 10px;
      padding: 0 5px;
    }
    .room__inner {
      padding: 5px;
    }
    .header.active .header__login {
      top: 20px;
    }
  }
  header .icon-search:before {
    font-size: 18px;
  }
  header .icon-search{
    margin-top: 3px;
  }
  .comments .comment-author-avatar img {
    border: none;
  }
  #commentmodel-content {
    box-shadow: 0 0 3px #cccccc, inset 0 -1px 1px #e9e9e9, 0 1px 1px rgba(0, 0, 0, 0.12), inset 0 1px 1px white;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
  }
   #commentmodel-content:focus {
    border-color: #184780;
   }
   .comment-box .comment-box-partial .comment-submit {
        height: 45px;
        border-radius: 15px;
        text-transform: uppercase;
        background: #184780;
        border-color: #184780;
        margin: 0 auto;
   }
   .comment-box .comment-box-partial .comment-submit:hover {
    background: #184780;
   }
.serch__result__title, .no-result {
  font-size: 18px;
}
@media (max-width: 767px) {
  .serch__result__title, .no-result {
    font-size: 16px;
  }
}
.search__result__wrapper {
  margin-bottom: 30px;
}
.access__login a {
  color: #fff;
  transition: all .3s;
}
.access__login a:hover {
  color: #00aeef;
}
.access__agree a {
  color: #fff;
  transition: all .3s;
}
.access__agree a:hover {
  color: #00aeef;
}
.access__agree label {
  margin-bottom: 0;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #ffa0a0;
    font-size: 14px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ffa0a0;
    padding: 8px 24px;
    transition: 0.3s cubic-bezier(.17,.67,.89,.37);
}
#form-signup .checkboxes {
  height: 75px;
}
#form-signup .checkboxes .checkbox {
  height: 75px;
  width: 100%;
}
#form-signup .field-signupform-profile {
  height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
#form-signup .help-block {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.access__login input {
  margin-bottom: 10px;
}
.curs-admin__aside .btn_shadow {
  background: #8f8bef;
    color: #fff;
    padding: 5px 0;
    text-transform: uppercase;
}
@media (min-width: 567px) and (max-width: 767px) {
  .access {
    height: 100vh;
    overflow-y: auto;
    padding: 60px 0;
  }
}
.audioName, .videoName, .fileName, .textName{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.audioName .redactor__field, .videoName .redactor__field, .fileName .redactor__field, .textName .redactor__field {
  width: 85%;
}
.textName .cke {
  width: 100%;
  margin-bottom: 20px;
}
.audioName .material-pos, .videoName .material-pos, .fileName .material-pos, .textName .material-pos {
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  padding: 5px;
  width: 10%;
  text-align: center;
  background: #ccc;
  color: #ffffff;
  cursor: pointer;
}

.tarea-contain {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.tarea-contain .glyphicon-remove-circle {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 22px;
  cursor: pointer;
}

.material-pos.sort-active{
  background: #99c671;
}
.material-pos span {
  pointer-events: none;
}
.to_profile {
  display: none;
}
.course_danger {
    color: #9d261d;
}
.material-view {
  float: left;
  font-size: 18px;
  padding: 5px;
}
.material-view i {
  padding-right: 5px;
}
.get__certificat {
  text-align: center;
}
i.hover-add{
  color:#fde16d;
}
/*.field-lection-text{
  display: none;
}*/
